{% extends "partials/theme.html" %}
{% load static%}

{% block title %}
<title>Tafa</title>
{% endblock %}

{%block styles %}
<style>
    .heading-bar{
        background-color:rgba(130, 130, 130, 0.12);
    }
    .list-group-item{
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="mt-4 mb-5 heading-bar px-md-3 d-flex py-2">
    <div class="flex-fill"><p class="fs-4 mb-0">{{unit.name.title}} Sub Topics Videos</p></div>
    <div class="flex-fill d-flex justify-content-end"><button type="button" class="btn btn-primary btn-sm px-3 shadow-none" onclick="history.back()">Back</button></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div id="embedBox"></div>
        </div>
        <div class="col-sm-3">
            <div class="card border rounded-0">
                <div class="card-header border-success fs-5">
                    <b>{{unit.name.title}} Videos</b>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-0">
                        {% for video in videos %}
                            <li class="list-group-item list-group-item-action {%if video.videoid == video_id%} active {%endif%}" data-bs-id="{{video.id}}">{{video.label}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    (function(v,i,d,e,o){v[o]=v[o]||{}; v[o].add = v[o].add || function V(a){ (v[o].d=v[o].d||[]).push(a);};
      if(!v[o].l) { v[o].l=1*new Date(); a=i.createElement(d), m=i.getElementsByTagName(d)[0];
      a.async=1; a.src=e; m.parentNode.insertBefore(a,m);}
      })(window,document,"script","https://player.vdocipher.com/playerAssets/1.6.10/vdo.js","vdo");
      vdo.add({
      otp: "{{otp}}",
      playbackInfo: "{{playback}}",
      theme: "9ae8bbe8dd964ddc9bdb932cca1cb59a",
      container: document.querySelector( "#embedBox" ),
      });
</script>
<script>
    elements = document.getElementsByClassName("list-group-item")
    Array.from(elements).forEach(function(element){
        element.addEventListener("click", function(e){
            k = e.target.getAttribute("data-bs-id");
            window.location.href = "/form/subject/unit/{{unit.id}}?videoid="+k;
        });
    });
</script>
{% endblock %}