{% load tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .navbar .container-fluid{
            background-color: #5968B0!important;
        }
        
        .search{
            border-color: #5968B0!important;
        }
        
        .nav-link{
            color:#000000;
        }
        .nav-link.active{
            color:#5968B0;
        }
        .tf-logo, .user-cont{
            height:3em;
            width:3em;
            cursor: pointer;
        }
        .dropdown-toggle:after {
            content: none;
        }
        .dropdown-menu{
            left: -6em!important;
        }
        @media (max-width: 767.98px) { 
            .search-div{
                display:none!important;
            }
        }
        @media print {

            html,
            body {

                /* Hide the whole page */
                display: none;
            }
        }
        html {
            user-select: none;
        }
        /* @media (min-width: 1400px){
            footer{
                max-width: 1320px;
            }
        }
        @media (min-width: 1200px){
            footer{
                max-width:1140px;
            }
        }
        @media (min-width: 768px){
            footer{
                max-width:720px;
            }
        }
        @media(min-width: 576px){
            footer{
                max-width:540px;
            }
        } */
    </style>
    {% block title%}{% endblock %}

    {% block styles%}
    {% endblock %}
</head>
<body>
    <div class="container" style="min-height:85vh;">
        <nav class="navbar navbar-expand-lg bg-light pt-0 pb-5">
            <div class="container-fluid">
                <div class="row w-100 py-2">
                    <div class="col-6 col-md-3">
                        <a href="/" class="navbar-brand">
                            <img src="{% static 'images/tafa/logo.png'%}" alt="Tafa logs" class="tf-logo border border-3 rounded-circle">
                        </a>
                    </div>
                    <div class="col-12 col-md-6 d-flex search-div">
                        <form action="" role="search" class="align-self-center w-100 position-relative">
                            <input type="search" class="form-control search shadow-none py-2 rounded-pill" placeholder="Search for topic" aria-label="Search" id="topic-search">
                            <ul id="search-list" class="bg-white list-unstyled position-absolute border-1 border-secondary p-2 shadow d-none" style="width: 95%; left:1em">
                            </ul>
                        </form>
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-end">
                        <div class="dropdown">
                            <div class="dropdown-toggle d-flex rounded-circle border border-dark bg-dark justify-content-center align-content-center user-cont p-2" data-bs-toggle="dropdown">
                                <p class="text-white align-self-center mb-0">
                                    SJ
                                </p>
                            </div>
            
                            <div class="dropdown-menu dropdown-menu-right p-0">
                                <button class="dropdown-item py-2" type="button">
                                    {{request.user.name}}
                                </button>
                                <div class="dropdown-divider my-0"></div>
                                <a class="dropdown-item py-2" href="/logout">
                                    Logout
                                </a>
                            </div>
                        </div>

                        <!-- <div class="d-flex align-items-center position-relative" style="margin-left: 1em;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <span class="badge bg-white text-dark rounded-circle position-absolute" style="right:0em; top:1em;">0</span>
                        </div> -->
                    </div>
                </div>

            </div>
        </nav>

        <div class="container position-relative">
            {% block content %}{% endblock %}

            <div aria-live="polite" aria-atomic="true" class="position-fixed d-flex w-100" style="top:3em; left:45%">

                <!-- Then put toasts within -->
                <div class="toast p-0" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-body mb-0 text-center p-2 text-white">
                    <p class="fs-4 mb-0">/p>
                  </div>
                </div>
            </div>

        </div>

        {% block modal %}
    {% endblock %}
    </div>

    <div class="container">
        <footer class="py-3 my-4 w-100">
            <ul class="nav border-bottom pb-3 mb-3 d-flex justify-content-center">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© {%current_year%} Tafa Publishers</p>
        </footer>
    </div>
    
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
        var searchEl = document.getElementById("topic-search");
        var searchList = document.getElementById("search-list")
        searchEl.addEventListener("keyup", function(e) {
            while (searchList.hasChildNodes()) {
                searchList.removeChild(searchList.firstChild)
            }

            if (searchList.classList.contains("d-none")){
                searchList.classList.remove("d-none");
                searchList.classList.add("d-block");
            }

            content = e.target.value;
            xhttp = new XMLHttpRequest()
            
            if (content.length > 0){
                xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200) {
                    response = JSON.parse(xhttp.responseText);
                    if (response.length > 0) {
                        i = 0
                        for (key in Object.keys(response)) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        a.setAttribute("href", "/form/subject/unit/"+response[key].id);
                        a.classList.add("text-decoration-none");
                        textNode = document.createTextNode(response[key].name.toUpperCase());
                        a.appendChild(textNode)
                        li.appendChild(a);
                        searchList.appendChild(li);
                        i++;
                        if (i == 5){
                            break;
                        }
                    } 
                    }
                    else{
                        var li = document.createElement("li");
                        textNode = document.createTextNode("No topic found");
                        li.appendChild(textNode);
                        searchList.appendChild(li);
                    }
                }
            }
            
             xhttp.open("GET", "/api/v1/school/unit?search="+content)
             xhttp.send()
        }
        else{
            if (searchList.classList.contains("d-block")){
                searchList.classList.remove("d-block");
                searchList.classList.add("d-none");
            }
        }
        });


        // click outside
        window.addEventListener("click", function(e){
            if (e.target != searchEl) {
                if (searchList.classList.contains("d-block")){
                    searchList.classList.remove("d-block");
                    searchList.classList.add("d-none");
                }
            }
        })
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>