{% load tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .navbar .container-fluid{
            background-color: #5968B0!important;
        }
        
        .search{
            border-color: #5968B0!important;
        }
        
        .nav-link{
            color:#000000;
        }
        .nav-link.active{
            color:#5968B0;
        }
        .tf-logo, .user-cont{
            height:3em;
            width:3em;
            cursor: pointer;
        }
    </style>
    {% block title%}{% endblock %}

    {% block styles%}
    {% endblock %}
</head>
<body>
    <div class="container" style="min-height:90vh;">
        <nav class="navbar navbar-expand-lg bg-light pt-0 pb-5">
            <div class="container-fluid">
                <div class="row w-100 py-2">
                    <div class="col-12 col-md-3">
                        <a href="/" class="navbar-brand">
                            <img src="{% static 'images/tafa/logo.png'%}" alt="Tafa logs" class="tf-logo border border-3 rounded-circle">
                        </a>
                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <form action="" role="search" class="align-self-center w-100">
                            <input type="search" class="form-control search shadow-none py-2 rounded-pill" placeholder="Search for topic" aria-label="Search">
                        </form>
                    </div>
                    <div class="col-12 col-md-3 d-flex justify-content-end">
                        <div class="d-flex rounded-circle border border-dark bg-dark  p-2 user-cont align-self-center justify-content-center">
                            <p class="text-white align-self-center mb-0">
                                SJ
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© {%current_year%} Tafa Publishers</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>