{% extends "admin/partials/theme.html"%}


{% block content %}
<div class="pagetitle">
    <h1>Subjects</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/admin/subjects">Subjects</a></li>
        <li class="breadcrumb-item active">{{subject.name.title}}</li>
      </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section subject-detail">

    <div class="row d-flex justify-content-between">
        <div class="col-lg-3">

            <div class="card">
                <div class="card-header text-success">
                    EDIT SUBJECT
                </div>

                <div class="card-body mt-2">
                    <form action="/admin/update-subject" method="post">
                        {% csrf_token %}

                        <div class="mb-2">
                            <label for="name" class="control-label">
                                Name
                            </label>
                            <input type="hidden" name="id" value="{{subject.id}}">
                            <input type="text" class="form-control shadow-none rounded-0" name="name" value="{{subject.name}}">
                        </div>

                        <button class="btn btn-primary rounded-0 shadow-none">Update Subject</button>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-success">
                    Add Subject Price
                </div>
                <div class="card-body mt-2">
                    <form action="/admin/payments/add-amount" method="post">
                        {% csrf_token%}
                        {{form}}
                        <button class="btn btn-primary rounded-0 shadow-none" type="submit">Add Price</button>
                    </form>
                </div>
            </div>
            
        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-header text-success">
                    {{subject.name.title}}
                </div>
                <div class="card-body mt-3">
                    {% for inst in queryset %}
                    <div class="card">
                        <div class="card-header text-success">
                            {{inst.name.upper}} TOPICS
                        </div>
                        <div class="card-body mt-2">
                            <ul class="list-group">
                                {% for unit in subject.form_topics.all %}
                                    {% if unit.form.id == inst.id %}
                                        <li class="list-group-item">
                                            {{unit.name}}
                                        </li>
                                    {% endif%}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-success">
                    Subject Prices
                </div>
                <div class="card-body mt-3 px-2">
                    <table id="subject-prices" class="display">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    #
                                </th>
                                <th class="text-center">
                                    Form
                                </th>
                                <th class="text-center">
                                    Subject
                                </th>
                                <th class="text-center">
                                    Amount
                                </th>
                                <th class="text-center">
                                    Period
                                </th>
                                <th class="text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for amount in amounts %}
                            <tr data-id="{{amount.id}}" style="cursor: pointer;">
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="text-center">{{amount.form.name}}</td>
                                <td class="text-center">{{amount.subject.name}}</td>
                                <td class="text-center">{{amount.amount}}</td>
                                <td class="text-center">{{amount.period}} {{amount.period_type}}</td>
                                <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="delete"><i class='bi bi-trash text-danger'></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
     $(document).ready(function () {
        var subjectTablePrice = $('#subject-prices').DataTable();

        $(".bi-trash").on("click", function (e) {
            e.stopPropagation();
            tr = $(this).parents("tr");
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200){
                    subjectTablePrice.row( tr ).remove().draw( false );
                }
            }
            xhttp.open("POST", "/admin/payments/delete-subject-amount");
            xhttp.send(tr.attr('data-id'));
        });
    });
</script>
{% endblock%}