{% extends "partials/theme.html" %}
{% load static%}
{% block title %}
<title>Tafa</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/subject.css' %}">
<style>
    .col-label-required:after{
        content:"*";
        color:red;
    }
</style>
{% endblock %}

{% block content %}

<div class="mt-4 mb-5 heading-bar px-md-3 d-flex py-2">
    <div class="flex-fill"><p class="fs-4 mb-0">{{form.name.title}} {{subject.name.title}} Videos Category</p></div>
    <div class="flex-fill d-flex justify-content-end"><button type="button" class="btn btn-primary btn-sm px-3 shadow-none" onclick="history.back()">Back</button></div>
</div>

<div class="card rounded-0">
    <div class="card-header rounded-0 d-flex justify-content-between">
        <p class="fs-5 mb-0">{{form.name.title}} {{subject.name.title}} Topics</p>
        <button class="btn border-1 shadow-sm btn-success rounded-0" id="add-to-cart">Get plan</button>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row gx-3 gy-3">
                {% if topics %}
                    {% for topic in topics %}
                        <div class="col-md-3 col-subject">
                            <div class="py-2 border text-center un-it position-relative" un-id="{{topic.id}}">
                                {{topic.name.title}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-center">
                        No {{subject.name.title}} topics available at the moment
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="cart-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Subject Subscription Payment</h5>
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p class="mb-1 fs-6 font-weight-bold" id="wl-md-title">
                  Dear {{request.user.name.title}}, subscribe to view all {{subject.name.title}} videos. 
              </p>
              <p class="text-danger fs-6"><superscript>*</superscript>Follow the steps below for payment via MPESA</p>
              
              <form action="/api/v1/payments/checkout" method="POST" id="subject-amount-form">
                  {% csrf_token %}
                  
                  <div class="mb-3">
                      <label for="phone" class="col-form-label col-label-required">Phone Number</label>
                      <input type="text" class="form-control rounded-0 shadow-none" name="phone_number" placeholder="Enter phone number" required>
                  </div>
  
                  <div class="mb-3">
                      <label for="period" class="col-form-label col-label-required">Duration</label>
                      <select id="id-period-subject" class="form-select rounded-0 shadow-none">
                          {% for amount in subject.subject_amounts.all %}
                          <option value="{{amount.amount}}">{{amount.period}} {{amount.period_type}}</option>
                          {% endfor %}
                      </select>
                  </div>
  
                  <div class="mb-3">
                      <label for="amount" class="col-form-label">Amount</label>
                      <input type="text" id="subject-amount" name="amount" class="form-control rounded-0 shadow-none" readonly>
                  </div>
                  
                  <input type="hidden" name="user" value={{request.user.id}}>
                  <input type="hidden" name="form" value="{{form.id}}">
                  <input type="hidden" name="subject" value="{{subject.id}}">
  
              </form>
  
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-danger rounded-0 shadow-none" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary rounded-0 shadow-none" id="pay-mpesa-sb">Pay via MPESA</button>
          </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="confirm-payment" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered rounded-0">
      <div class="modal-content rounded-0 w-75">
        <div class="modal-header">
          <h5 class="modal-title">CONFIRM PAYMENT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-between">
            <button type="button" class="btn btn-danger shadow-none rounded-0" data-bs-dismiss="modal">Cancel</button>
            <form action="/payments/subscription/check-form-subscription" method="post" id="check-payment-status">
                {% csrf_token %}
                <input type="hidden" name="form" value="{{instance.id}}">
            </form>
            <button type="button" class="btn btn-primary shadow-none rounded-0" id="btn-confirm-payment">Confirm payment</button>
        </div>
      </div>
    </div>
</div>

{% csrf_token %}
{% endblock %}

{% block scripts %}
<script>
    var elements = document.getElementsByClassName("col-subject");
    Array.from(elements).forEach(function(element){
        element.addEventListener("click", function(e){
            id = e.target.getAttribute("un-id");
            slug = "{{form.name.lower}}".replace(" ","-");
            subject = "{{subject.name.lower}}".replace(" ","-");
            window.location.href = "/"+slug+"/"+subject+"/topic/"+id;
        });
    })
</script>
<script>
    $(document).ready(function(){
        $("#add-to-cart").on("click", function(){
            $("#cart-modal").modal("show");
            var amount = $("#id-period-subject").val();
            $("#subject-amount").val(amount);

            // on change 
            $("#id-period-subject").on("change", function(){
                var amount = $(this).val();
                $("#subject-amount").val(amount);
            });

            // $("#pay-mpesa-sb").on("click", function(){
            //     $("#subject-amount-form").submit();
            // });

            // $("#subject-amount-form").on("submit", function(e){
            //     e.preventDefault();
            //     var el = document.getElementById("subject-amount-form");
            // });
            // xhttp = new XMLHttpRequest();
            // xhttp.onreadystatechange = function(){
            //     if (this.readyState == 4 && xhttp.status == 200){
            //         obj =  JSON.parse(xhttp.responseText);
            //     }
            // }
            // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            // req = {"type": "subject", "request_id":"{{subject.id}}", "amount": "{{subject.subject_amounts.first.amount}}"}
            // xhttp.open("POST", "/cart");
            // xhttp.setRequestHeader("Content-type", "application/json");
            // xhttp.setRequestHeader("X-CSRFToken", csrftoken)
            // xhttp.send(JSON.stringify(req));
        });
    });
</script>
<script>
    var mpesaEl = document.getElementById("pay-mpesa-sb");
    mpesaEl.addEventListener("click", function(){
        var el = document.getElementById("subject-amount-form");
            formData = new FormData(el);
            url = $("#subject-amount-form").attr("action")
            xhttp = new XMLHttpRequest();
    

            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    console.log(xhttp.responseText);
                    $("#subjectModal").modal("hide");
                    $("#confirm-payment").modal("show");
                }
                else if (this.readyState == 4 && this.status == 400){
                    console.log(xhttp.responseText);
                }
            }
            xhttp.open("POST", url);
            xhttp.send(formData);
    });

    confEl = document.getElementById("btn-confirm-payment")
    confEl.addEventListener("click", function(){
        var elF = document.getElementById("check-payment-status");
        formData = new FormData(elF);
        url = elF.getAttribute("action")
        xhttp = new XMLHttpRequest()

        xhttp.onreadystatechange = function(){
            $("#confirm-payment").modal("hide");
            if (this.readyState == 4 && this.status == 200){
                console.log(xhttp.responseText);
                $(".toast-body").addClass("bg-success");
                $(".toast-body p").text("Payment successful");
                $(".toast").toast("show");
            }
            else if (this.readyState == 4 && this.status ==400){
                $(".toast-body").addClass("bg-danger")
                $(".toast-body p").text("Payment not successful");
                $(".toast").toast("show");
            }
        }
        xhttp.open("POST", url)
        xhttp.send(formData)
    });
</script>
{% endblock %}