{% extends "partials/theme.html" %}
{% load static%}
{% block title %}
<title>Tafa</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/subject.css' %}">
<style>
    .col-label-required:after{
        content:"*";
        color:red;
    }
</style>
{% endblock %}

{% block content %}

<div class="mt-4 mb-5 heading-bar px-md-3 d-flex py-2">
    <div class="flex-fill"><p class="fs-4 mb-0">Form Four {{subject.name.title}} Videos Category</p></div>
    <div class="flex-fill d-flex justify-content-end"><button type="button" class="btn btn-primary btn-sm px-3 shadow-none">Back</button></div>
</div>

<div class="card rounded-0">
    <div class="card-header rounded-0">
        Form Four {{subject.name.title}} Units
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row gx-3 gy-3">
                {% if units %}
                    {% for unit in units %}
                        <div class="col-md-3">
                            <div class="py-2 border text-center un-it" un-id="{{unit.id}}">
                                {{unit.name.title}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-center">
                        No {{subject.name.title}} units available at the moment
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="subscriptionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Subscription Payment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="mb-1 fs-5">Dear Client, subscribe to view videos in Calculus.</p>
            <p class="text-danger fs-6"><superscript>*</superscript>Follow the steps below for payment via MPESA</p>
            
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="phone" class="col-form-label col-label-required">Phone Number</label>
                    <input type="text" class="form-control rounded-0 shadow-none" name="phone" placeholder="Enter phone number" required>
                </div>

                <div class="mb-3">
                    <label for="period" class="col-form-label col-label-required">Duration</label>
                    <select name="period" id="id-period" class="form-select rounded-0 shadow-none">
                        <option value="1" selected> 1 MONTH</option>
                        <option value="2" selected> 2 MONTH</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="amount" class="col-form-label">Amount</label>
                    <input type="text" class="form-control rounded-0 shadow-none" readonly value="100">
                </div>


            </form>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger rounded-0 shadow-none" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary rounded-0 shadow-none">Pay via MPESA</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script>
    const elements = document.getElementsByClassName('un-it');
    Array.from(elements).forEach(function(element) {
        element.addEventListener('click', unNavigator);
    });

    function unNavigator(e){
        id = e.target.getAttribute('un-id')
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200) {
                window.location.href = "/form/subject/unit/"+id
            }
            else if (this.readyState == 4 && this.status == 400){
                var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
                    keyboard: false
                  })
                toggleModal = document.getElementById('myModal')
                myModal.show(toggleModal)
            }
        }
        xhttp.open("GET", "/payments/subscription/check-status?request_id"+id, true);
        xhttp.send();
    }
</script>
{% endblock %}