{% extends "partials/theme.html" %}
{% load static%}
{% block title %}
<title>Tafa</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/subject.css' %}">
<style>
    .col-label-required:after{
        content:"*";
        color:red;
    }
</style>
{% endblock %}

{% block content %}

<div class="mt-4 mb-5 heading-bar px-md-3 d-flex py-2">
    <div class="flex-fill"><p class="fs-4 mb-0">{{form.name.title}} {{subject.name.title}} Videos Category</p></div>
    <div class="flex-fill d-flex justify-content-end"><button type="button" class="btn btn-primary btn-sm px-3 shadow-none">Back</button></div>
</div>

<div class="card rounded-0">
    <div class="card-header rounded-0">
        {{form.name.title}} {{subject.name.title}} Units
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row gx-3 gy-3">
                {% if units %}
                    {% for unit in units %}
                        <div class="col-md-3">
                            <div class="py-2 border text-center un-it" un-id="{{unit.id}}">
                                {{unit.name.title}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-center">
                        No {{subject.name.title}} units available at the moment
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="subscriptionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Subscription Payment</h5>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="mb-1 fs-6 font-weight-bold" id="wl-md-title"></p>
            <p class="text-danger fs-6"><superscript>*</superscript>Follow the steps below for payment via MPESA</p>
            
            <form action="/api/v1/payments/checkout" method="POST" id="submit-ps">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="phone" class="col-form-label col-label-required">Phone Number</label>
                    <input type="text" class="form-control rounded-0 shadow-none" name="phone_number" placeholder="Enter phone number" required>
                </div>

                <div class="mb-3">
                    <label for="period" class="col-form-label col-label-required">Duration</label>
                    <select id="id-period" class="form-select rounded-0 shadow-none">
                    </select>
                </div>

                <div class="mb-3">
                    <label for="amount" class="col-form-label">Amount</label>
                    <input type="text" id="amount" name="amount" class="form-control rounded-0 shadow-none" readonly>
                </div>
                
                <input type="hidden" name="user" value={{user.id}}>
                <input type="hidden" name="unit" id="reference">

            </form>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger rounded-0 shadow-none" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary rounded-0 shadow-none" id="pay-mpesa">Pay via MPESA</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script>
    const elements = document.getElementsByClassName('un-it');
    Array.from(elements).forEach(function(element) {
        element.addEventListener('click', unNavigator);
    });

    function unNavigator(e){
        id = e.target.getAttribute('un-id')
        name = e.target.innerHTML
        var el = document.getElementById("wl-md-title")
        el.innerHTML = "Dear Client, subscribe to view videos in " + name + ".";
        ref = document.getElementById("reference")
        ref.value = id
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200) {
                window.location.href = "/form/subject/unit/"+id
            }
            else if (this.readyState == 4 && this.status == 400){
                
                // load costs
                getUnitCosts(id)

                var myModal = new bootstrap.Modal(document.getElementById("myModal"), {
                    keyboard: false
                  })
                toggleModal = document.getElementById("myModal")
                myModal.show(toggleModal)
            }
        }
        xhttp.open("GET", "/payments/subscription/check-status?request_id="+id, true);
        xhttp.send();
    }

    // get unit amount for different time periods
    function getUnitCosts(e){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200) {
                obj = JSON.parse(xhttp.responseText)
                for (const key of Object.keys(obj)) {
                    const option = document.createElement("option");
                    textNode = document.createTextNode(obj[key].period);
                    option.appendChild(textNode);
                    option.value = obj[key].amount;
                    el = document.getElementById("id-period");
                    el.appendChild(option);
                    console.log(key, obj[key]);
                }

                first_child = document.getElementById("id-period").children[0];
                first_child.setAttribute("selected", "selected");
                first_value = first_child.value;
                am = document.getElementById("amount")
                am.value = first_value
            }
        }
        xhttp.open("GET", "/api/v1/payments/unit-amount?unit="+id, true);
        xhttp.send();
    }
</script>
<script>
    // on closure of modal, raise an event
    var myModal = document.getElementById("myModal");
    myModal.addEventListener("hidden.bs.modal", modalClosure)

    function modalClosure(){
        am = document.getElementById("amount");
        am.value = null;
        el = document.getElementById("id-period");
        while (el.hasChildNodes()) {
            el.removeChild(el.firstChild);
        }
    }

    // on select control change event
    el = document.getElementById("id-period");
    el.addEventListener("change", selectChange);

    function selectChange(e){
        var x = e.target.value
        am = document.getElementById("amount")
        am.value = x
        e.target.children[0].removeAttribute("selected");

    }

</script>

<script>
    var btn = document.getElementById("pay-mpesa")
    btn.addEventListener("click", processPayment);

    function processPayment(){
        ps = document.getElementById("submit-ps");
        const formData = new FormData(ps);
        url = ps.getAttribute("action")
        
        xhttp  = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            console.log("True")
        }

        xhttp.open("POST", url)
        xhttp.send(formData);
    }

</script>
{% endblock %}