{% extends "admin/partials/theme.html" %}
{% load tags %}

{% block styles %}
<style>
    tr {
        cursor: pointer;
    }
</style>
{% endblock%}

{% block content %}
<div class="pagetitle">
    <h1>Topics</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item active">List Topics</li>
      </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="card shadow">
        <div class="card-header border-0 px-4">
            <a href="/admin/topics/add-topic" class="btn btn-primary shadow-none rounded-0">Add Topic</a>
        </div>
        <div class="card-body px-4">
            <table class="display" id="topic-table">
                <thead>
                    <tr>
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            Name
                        </th>
                        <th class="text-center">
                            Form
                        </th>
                        <th class="text-center">
                            Subject
                        </th>
                        <th class="text-center">
                            Index
                        </th>
                        <th class="text-center">
                            Video Count
                        </th>
                        <th class="text-center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                    <tr data-bs-topic="{{topic.id}}" class="topic">
                        <td class="text-center">
                            {{forloop.counter}}
                        </td>
                        <td class="text-center">
                            {{topic.name}}
                        </td>
                        <td class="text-center">
                            {{topic.form.name}}
                        </td>
                        <td class="text-center">
                            {{topic.subject.name}}
                        </td>
                        <td class="text-center">
                            {{topic.index}}
                        </td>
                        <td class="text-center">
                            {% topic_video_count topic.id%}
                        </td>
                        <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" title="delete">
                            <i class='bi bi-trash text-danger'></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}

<script>
     $(document).ready(function () {
        var myTable = $('#topic-table').DataTable();
        $("#topic-table tbody").on("click", "tr", function(){
            id = $(this).attr("data-bs-topic");
            window.location.href = "/admin/topics/view?topic="+id;
        })
        $("#topic-table tbody").on("click", "tr td .bi-trash", function (e) {
        e.stopPropagation();
        tr = $(this).parents("tr");
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200){
                myTable.row( tr ).remove().draw( false );
            }
        }
        xhttp.open("POST", "/admin/delete-topic");
        xhttp.send(tr.attr('data-bs-topic'));
    })
     });
</script>
{% endblock %}