.card-header{
    background-color: rgba(130, 130, 130, 0.97);
}
.form-one{
    background-color: #6EA660A6;
}
.form-two{
    background-color:#4C82B3A6;
}
.form-three{
    background-color:#A66CAEA6;
}
.form-four{
    background-color:#D56064A6;
}
.heading-bar{
    background-color:rgba(130, 130, 130, 0.12);
}
.sb-it{
    cursor: pointer;
}