'{% extends "admin/partials/theme.html" %}

{% block styles %}
<style>
    #otp-btn{
        font-size:0.9em;
    }
</style>
{% endblock %}
{% block content %}

 <div class="pagetitle">
    <h1>Agents</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item active">Agents</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row d-flex justify-content-between">

      <!-- Left side columns -->
      <div class="col-lg-7 col-md-7">
        <div class="card shadow">
            <div class="card-header border-0">
            </div>
            <div class="card-body">
                <table class="display" id="registration-code-table">
                    <thead>
                        <tr>
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                User Code
                            </th>
                            <th class="text-center">
                                Email
                            </th>
                            <th class="text-center">
                                Users
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agent in agents %}
                        <tr data-id="{{agent.id}}">
                            <td class="text-center">
                                {{forloop.counter}}
                            </td>
                            <td class="text-center">
                                {{agent.name}}
                            </td>
                            <td class="text-center">
                                {{agent.agent_user.code}}
                            </td>
                            <td class="text-center">
                                {{agent.username}}
                            </td>
                            <td class="text-center">
                                {{agent.agent_user.subscribers.count}}
                            </td>
                            <td class="text-center">
                                <i class='bi bi-trash text-danger'></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

      </div><!-- End Left side columns -->

      <div class="col-lg-4 col-md-4">
          <div class="card shadow">
              <div class="card-header">
                  Add Agent
              </div>
              <div class="card-body mt-3">
                    <form action="/admin/agents/add-agent" method="post" id="form-agent">
                        {% csrf_token%}
                        {{form}}
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <label for="email-otp" class="control-label">Email OTP Code</label>
                                <input type="text" name="otp" class="form-control shadow-none rounded-0" required id="in-otp">
                            </div>

                            <div class="col-md-4 mt-4">
                                <button type="button" class="btn btn-primary shadow-none rounded-0" id="otp-btn">GET OTP</button>
                            </div>
                        </div>
                        <button class="btn btn-primary rounded-0 disabled" type="submit" id="btn-add-agent">Add Agent</button>
                    </form>
              </div>
          </div>
      </div>

    </div>
  </section>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
    var myTable = $('#registration-code-table').DataTable();

    $(".bi-trash").on("click", function () {
        tr = $(this).parents("tr");
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200){
                myTable.row( tr ).remove().draw( false );
            }
        }
        xhttp.open("POST", "/admin/delete-registration-code");
        xhttp.send(tr.attr('data-id'))
    });

    // button click
    $("#otp-btn").on("click", function(){
        email = $("#in-email").val()
        if (!document.getElementById("in-email").checkValidity()) {
            alert("Valid email is required");
        }
        else{
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200){
                    alert("OTP Code has been sent to "+email);
                    $("#btn-add-agent").removeClass("disabled");
                    console.log(this.responseText);
                }
            }
            xhttp.open("POST", "/api/v1/mfa/otp/generate");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("send_to="+email+"&expiry_time=600");

        }
    });

    $("#form-agent").on("submit", function(e){
        e.preventDefault();
        var otp = $("#in-otp").val();
        var self = $(this);
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200){
                    self.unbind('submit').submit();
                }
                else if (this.readyState == 4 && this.status ==400){
                    alert("Invalid OTP Code");
                }
            }
        xhttp.open("POST", "/api/v1/mfa/otp/verify");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({"otp": otp, "send_to": email}));

    });

    });
</script>
{% endblock %}