{% extends "admin/partials/theme.html" %}

{% block content %}

<div class="pagetitle">
    <h1>Forms</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/admin/forms">Forms</a></li>
        <li class="breadcrumb-item active">Add Form</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-6">
        <div class="card">

            <div class="card-body mt-4">
                <form action="" method="post">
                    {{form}}

                    <button class="btn btn-primary">Add Form</button>
                </form>
            </div>
            
        </div>
        
      </div><!-- End Left side columns -->


    </div>
  </section>

{% endblock %}