{% extends "admin/partials/theme.html" %}
{% load tags %}

{% block content %}

 <div class="pagetitle">
    <h1>Forms</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item active">Forms</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row d-flex justify-content-between">

      <!-- Left side columns -->
      <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header border-0">
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Videos Count
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inst in qs%}
                        <tr>
                            <td class="text-center">
                                {{forloop.counter}}
                            </td>
                            <td class="text-center">
                                {{inst.name}}
                            </td>
                            <td class="text-center">
                                {% form_video_count inst%}
                            </td>
                            <td class="text-center">
                                <i class='bi bi-trash text-danger'></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
      </div><!-- End Left side columns -->

      <div class="col-lg-4 col-md-4">
          <div class="card shadow">
              <div class="card-header">
                  Add Form
              </div>
              <div class="card-body mt-3">
                    <form action="/admin/forms/add-form" method="post">
                        {% csrf_token%}
                        {{form}}
                        <button class="btn btn-primary rounded-0" type="submit">Add Form</button>
                    </form>
              </div>
          </div>
      </div>

    </div>
  </section>

{% endblock %}