{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tafa Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .form-control{
            margin-bottom: 1em;
        }
        .errorlist{
            list-style: none;
            color:red;
            padding-left: 0px;
        }
        @media (max-width: 767.98px) { 
            .card{
                width: 100%!important;
            }
        }
    </style>
</head>
<body>
    
    <div class="container d-flex justify-content-center" style="height: 100vh;">
        
        <div class="card align-self-center w-50 py-4 px-4 rounded-0">
            <div class="card-header mx-auto text-center bg-transparent border-0">
                <img src="{%static 'images/tafa/logo.png' %}" alt="tafa logo" width="100em">
                <h3 class="mt-2">Create Account</h3>
            </div>

            <div class="card-body border shadow px-4 py-4">
                <form action="/registration" method="post" id="fm-add-user">
                    {% csrf_token %}
        
                    {{form}}

                    <div class="row mb-3">
                        <div class="col-md-9">
                            <label for="email-otp" class="control-label">Email OTP Code</label>
                            <input type="text" name="otp" class="form-control shadow-none rounded-0" required id="in-otp">
                        </div>

                        <div class="col-md-3 my-4 d-flex justify-content-end">
                            <button type="button" class="btn btn-primary shadow-none rounded-0" id="otp-btn">GET OTP</button>
                        </div>
                    </div>
        
                    <button type="submit" class="btn btn-primary rounded-0 shadow-none w-100 disabled" id="btn-add-user">Create Account</button>
        
                </form>
            </div>

            <div class="card-footer bg-transparent border-0 pt-3">
                <p class="mb-0">Already have an account? <a href="/login" class="text-decoration-none">Sign In</a></p>
            </div>
        </div>

    </div>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script>
    var otpBtn = document.getElementById("otp-btn");
    var inEmail = document.getElementById("in-email");
    var btnAddUser = document.getElementById("btn-add-user");
    var inOtp = document.getElementById("in-otp");
    otpBtn.addEventListener("click", function(){
        if (!inEmail.checkValidity()){
            alert("Valid email is required");
        }
        else {
            var email = inEmail.value;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200){
                    alert("OTP Code has been sent to "+email);
                    btnAddUser.classList.remove("disabled");
                }
                else if (this.readyState == 4 && this.status == 400){
                    console.log(this.responseText);
                }
            }
            xhttp.open("POST", "/api/v1/mfa/otp/generate");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("send_to="+email+"&expiry_time=600");
        }
    });
</script>
<script>
    $(document).ready(function(){
        $("#fm-add-user").on("submit", function(e){
            e.preventDefault();
            var otp = inOtp.value;
            var email = inEmail.value;
            var self = $(this);

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200){
                    self.unbind('submit').submit();
                }
                else if (this.readyState == 4 && this.status ==400){
                    alert("Invalid OTP Code");
                }
            }
            xhttp.open("POST", "/api/v1/mfa/otp/verify");
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify({"otp": otp, "send_to": email}));
        });
    });
</script>
</body>
</html>