{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tafa Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .form-control{
            margin-bottom: 1em;
        }
        .errorlist{
            list-style: none;
            color:red;
            padding-left: 0px;
        }
    </style>
</head>
<body>
    
    <div class="container d-flex justify-content-center" style="height: 100vh;">
        
        <div class="card align-self-center w-50 py-4 px-4 rounded-0">
            <div class="card-header mx-auto text-center bg-transparent border-0">
                <img src="{%static 'images/tafa/logo.png' %}" alt="tafa logo" width="100em">
                <h3 class="mt-2">Create Account</h3>
            </div>

            <div class="card-body border shadow px-4 py-4">
                <form action="/registration" method="post">
                    {% csrf_token %}
        
                    {{form}}
        
                    <button type="submit" class="btn btn-primary rounded-0 shadow-none w-100">Create Account</button>
        
                </form>
            </div>

            <div class="card-footer bg-transparent border-0 pt-3">
                <p class="mb-0">Already have an account? <a href="/login" class="text-decoration-none">Sign In</a></p>
            </div>
        </div>

    </div>

</body>
</html>