{% extends "partials/theme.html" %}
{% load static%}
{% block title %}
<title>Tafa</title>
{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    .heading-bar{
        background-color:rgba(130, 130, 130, 0.12);
    }
    .sb-it{
        cursor: pointer;
        background-color:rgba(189, 189, 189, 0.4);
    }
    .form-two{
        background-color:#5968B0;
    }
    .form-one{
        background-color: #6EA660;
    }
    .form-three{
        background-color:#A66CAE;
    }
    .form-four{
        background-color:#D56064;
    }
    .badge{
        top:2px;
        right:2px; 
        font-size:0.6em; 
        background-color:#5968B0;
    }
</style>
{% endblock %}

{% block content %}

<div class="mt-4 mb-5 heading-bar px-md-3 d-flex py-2">
    <div class="flex-fill"><p class="fs-4 mb-0">{{instance.name.title}} Learning Videos Category</p></div>
    <div class="flex-fill d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm px-3 shadow-none" onclick="history.back()">Back</button>
    </div>
</div>

<div class="card rounded-0">
    <div class="card-header rounded-0 d-flex justify-content-between {%if num == 1 %}form-one {%elif num == 2 %}form-two {%elif num == 3 %}form-three {%else%}form-four {%endif%}">
        <p class="fs-5 mb-0 text-white">{{instance.name.title}} Subjects</p>
        {% if not subscribed %}
        <button class="btn border-1 shadow-sm bg-white text-success rounded-0" id="btn-form-subscribe">Add to cart</button>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="container py-2">
            <div class="row gx-3 gy-3">
                {% if subjects %}
                    {% for subject in subjects %}
                        <div class="col-md-3">
                            <div class="py-2 border text-center position-relative sb-it" sub-id="{{subject.id}}">
                                {{subject.name}} <span class="badge text-danger text-white position-absolute">Ksh {{subject.subject_amounts.first.amount}}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="fs-4 text-center">No subjects added yet </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="subscriptionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Form Subscription Payment</h5>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="mb-1 fs-6 font-weight-bold" id="wl-md-title">
                Dear {{request.user.name.title}}, subscribe to view all {{instance.name.title}} videos. 
            </p>
            <p class="text-danger fs-6"><superscript>*</superscript>Follow the steps below for payment via MPESA</p>
            
            <form action="/api/v1/payments/checkout" method="POST" id="submit-ps">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="phone" class="col-form-label col-label-required">Phone Number</label>
                    <input type="text" class="form-control rounded-0 shadow-none" name="phone_number" placeholder="Enter phone number" required>
                </div>

                <div class="mb-3">
                    <label for="period" class="col-form-label col-label-required">Duration</label>
                    <select id="id-period" class="form-select rounded-0 shadow-none">
                        {% for amount in amounts %}
                        <option value="{{amount.amount}}">{{amount.period}} {{amount.period_type}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="amount" class="col-form-label">Amount</label>
                    <input type="text" id="amount" name="amount" class="form-control rounded-0 shadow-none" readonly>
                </div>
                
                <input type="hidden" name="user" value={{request.user.id}}>
                <input type="hidden" name="form" id="reference" value="{{instance.id}}">

            </form>

        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger rounded-0 shadow-none" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary rounded-0 shadow-none" id="pay-mpesa">Pay via MPESA</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="confirm-payment" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered rounded-0">
      <div class="modal-content rounded-0 w-75">
        <div class="modal-header">
          <h5 class="modal-title">CONFIRM PAYMENT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-between">
            <button type="button" class="btn btn-danger shadow-none rounded-0" data-bs-dismiss="modal">Cancel</button>
            <form action="/payments/subscription/check-form-subscription" method="post" id="check-payment-status">
                {% csrf_token %}
                <input type="hidden" name="form" value="{{instance.id}}">
            </form>
            <button type="button" class="btn btn-primary shadow-none rounded-0" id="btn-confirm-payment">Confirm payment</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts%}
<script>
    const elements = document.getElementsByClassName('sb-it');
    Array.from(elements).forEach(function(element) {
        element.addEventListener('click', fmNavigator);
    });

    function fmNavigator(e){
        if (e.target.tagName.toLowerCase() == "span") {
            id = e.target.parentElement.getAttribute('sub-id');
        }
        else {
            id = e.target.getAttribute('sub-id');
        }
        var slug = "{{instance.name.lower}}".replace(" ", "-");
        window.location.href = "/"+slug+"/subject/"+id;
    }
</script>
<script>
    $(document).ready(function(){
        $("#btn-form-subscribe").on("click", function(){
            $("#myModal").modal("show");
        });
        var amount = $("#id-period").val();
        $("#amount").val(amount);

        // on change 
        $("#id-period").on("change", function(){
            var amount = $(this).val();
            $("#amount").val(amount);
        });
    });
</script>
<script>
    //form submission
    var mpesaEl = document.getElementById("pay-mpesa");
    mpesaEl.addEventListener("click", function(){
        var el = document.getElementById("submit-ps");
            formData = new FormData(el);
            url = $("#submit-ps").attr("action")
            xhttp = new XMLHttpRequest();
    

            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    console.log(xhttp.responseText);
                    $("#myModal").modal("hide");
                    $("#confirm-payment").modal("show");
                }
                else if (this.readyState == 4 && this.status == 400){
                    console.log(xhttp.responseText);
                }
            }
            xhttp.open("POST", url);
            xhttp.send(formData);
    });

    confEl = document.getElementById("btn-confirm-payment")
    confEl.addEventListener("click", function(){
        var elF = document.getElementById("check-payment-status");
        formData = new FormData(elF);
        url = elF.getAttribute("action")
        xhttp = new XMLHttpRequest()

        xhttp.onreadystatechange = function(){
            $("#confirm-payment").modal("hide");
            if (this.readyState == 4 && this.status == 200){
                console.log(xhttp.responseText);
                $(".toast-body").addClass("bg-success");
                $(".toast-body p").text("Payment successful");
                $(".toast").toast("show");
            }
            else if (this.readyState == 4 && this.status ==400){
                $(".toast-body").addClass("bg-danger")
                $(".toast-body p").text("Payment not successful");
                $(".toast").toast("show");
            }
        }
        xhttp.open("POST", url)
        xhttp.send(formData)
    });
</script>
{% endblock %}